<!DOC html>
<html>

<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '1414557b4538e5503435111ef15e8853',
      shopOrigin: 'https://barbersuppliesco-ca.myshopify.com'
    });
  </script>
</head>

<body>
  <h1>Welcome to my website!</h1>
  <!-- Contact Form - sent to a Google Sheet -->
  <footer>
    CopyRight@2017
  </footer>
</body>

</html>
<script type="text/javascript">
  ShopifyApp.ready(function () {
    var shopifyQL = "SHOW net_quantity, gross_sales, discounts, returns, net_sales, taxes, total_sales BY product_vendor, product_type, product_title FROM sales WHERE sale_line_type == 'product' SINCE -30d UNTIL today ORDER BY gross_sales DESC";
    var renderData = function (response) {
      var result = response.result;
      // save data
      request = $.ajax({
        url: "https://script.google.com/a/macros/gointegrations.com/s/AKfycbzr2bxcIFdL--4g3hmdI2_BrM6yo6RZ9dgKE4I_3v6xiFV91Sc/exec",
        type: "post",
        data: {Test:["test","test2","test3"]},
        dataType:"json"
      });

      // Callback handler that will be called on success
      request.done(function (response, textStatus, jqXHR) {
        // Log a message to the console
        console.log("harry, it worked!");
        console.log(response);
        console.log(textStatus);
        console.log(jqXHR);
      });

      // Callback handler that will be called on failure
      request.fail(function (jqXHR, textStatus, errorThrown) {
        // Log the error to the console
        console.error(
          "The following error occurred: " +
          textStatus, errorThrown
        );
      });

      // Callback handler that will be called regardless
      // if the request failed or succeeded
      request.always(function () {
        // Reenable the inputs
        console.log("done")
      });
      
    };
    var handleError = function (response) {
      alert("This is error");
      alert(response);
      // handle missing API errors here (missing scopes, back shopifyql, etc...)
    };
    ShopifyApp.Analytics.fetch({
      query: shopifyQL,
      success: renderData,
      error: handleError
    });
  });

</script>